.container {
  margin-top: 30px;
}

tr[data-ready="1"] {
  background-color: rgba(168, 248, 167, 0.5);
}

tbody > tr td:first-child {
  width: 30px;
}

tbody > tr td:nth-child(n+3) {
  width: 30px;
}

.create-item {
  display: none;
}

.btn-group {
  margin-bottom: 20px;
}